.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-title {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
.images {
  width: 50%;
  height: 12em;
  margin: 20px auto;
}
.card-body {
  display: block;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
