.card {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-title {
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.group {
  position: relative;
  margin-top: 6em;
}
.details {
  margin-top: 25%;
}
.id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 6.5em;
  color: #e9e8e7;
  z-index: 0;
}
.images {
  position: absolute;
  width: 28%;
  margin: 0 auto;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-desc {
  display: block;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto 2em;
}
.pokemon__type {
  display: flex;
  width: 100%;
  justify-content: center;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
}

#type {
  font-weight: 600;
  font-size: 1.05em;
  text-transform: capitalize;
}

#type + #type::before {
  background-color: #a39f99;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 6px;
  width: 6px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}
.pokemon__abilities {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 0.5em auto 1em;
}
.ability {
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.pokemon__body {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.7em auto;
}

.height,
.weight,
.base_exp {
  color: #fff;
  padding: 12px 15px;
  font-weight: 600;
  border-radius: 2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.height {
  background-color: #4285f4;
}
.weight {
  background-color: #db4437;
}
.base_exp {
  background-color: #f4b400;
}

#type.bug {
  color: #9cb820;
}
#type.dragon {
  color: #7038f8;
}
#type.fairy {
  color: #f09ad9;
}
#type.fire {
  color: #f08030;
}
#type.ghost {
  color: #705898;
}
#type.ground {
  color: #e0b668;
}
#type.normal {
  color: #a8a8a8;
}
#type.psychic {
  color: #eb2d77;
}
#type.steel {
  color: #6d8f9c;
}
#type.dark {
  color: #504843;
}
#type.electric {
  color: #c09643;
}
#type.fighting {
  color: #c03028;
}
#type.flying {
  color: #9096f0;
}
#type.grass {
  color: #22c02a;
}
#type.ice {
  color: #98d8d8;
}
#type.poison {
  color: #a040a0;
}
#type.rock {
  color: #b8a038;
}
#type.water {
  color: #6890f0;
}

@media only screen and (max-width: 600px) {
  .main {
    margin-top: 15%;
  }
  .card-title {
    font-size: 1.4em;
    font-weight: 700;
  }
}
